name: CI/CD Pipeline

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:

      - name: Checkout code
        uses: actions/checkout@v2

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Docker image
        run: |
          docker build -t ${{ secrets.DOCKER_USERNAME }}/djangoapp:${{ github.sha }} .
          docker push ${{ secrets.DOCKER_USERNAME }}/djangoapp:${{ github.sha }}

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-south-1

      - name: Set up kubectl
        run: aws eks update-kubeconfig --name django1-cluster --region ap-south-1

      - name: Verify Kubernetes Cluster Connection
        run: kubectl get nodes

      - name: Apply Kubernetes Manifests
        run: kubectl apply -f k8s/

      - name: List Deployments
        run: kubectl get deployments -A

      - name: Deploy to EKS
        run: |
          kubectl set image deployment/djangoapp djangoapp=${{ secrets.DOCKER_USERNAME }}/djangoapp:${{ github.sha }} -n your-namespace
